.wine-list-wrapper {
  margin: auto;
  min-width: 50%;
}

.wine-list .wine-row-title {
  display: flex;
  background-color: #bbb;
  padding: 1em 2em;
}
/* 
.wine-list .wine-row-title.red {
  background-color: #990033;
}

.wine-list .wine-row-title.rose {
  background-color: #ffcccc;
}

.wine-list .wine-row-title.white {
  background-color: #ffffcc;
} */

.wine-row-details {
  padding: 1em 2em;
  background-color: #bbb;
}
