.wine-list .wine-row {
  display: flex;
  background-color: #bbb;
  padding: 1em 2em;
}

.wine-list .wine-row.red {
  display: flex;
  background-color: #990033;
  padding: 1em 2em;
}

.wine-list .wine-row.rose {
  display: flex;
  background-color: #ffcccc;
  padding: 1em 2em;
}

.wine-list .wine-row.white {
  display: flex;
  background-color: #ffffcc;
  padding: 1em 2em;
}