body {
  background-color: #eee;
  height: 100vh;
}

header {
  background-color: #222;
  height: 2.5em;
  padding: 10px 20px;
  color: white;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 1.5em;
  margin-left: 20px;
}

form {
  margin-bottom: 20px;
}

.dashboard {
  padding: 20px;
}

.center {
  text-align: center;
}

.no-data-img {
  margin-top: 50px;
}

#upload-wine-file-form button {
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
